<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353678555750-tpvv046e8dlp4j2o7f3rsnhuqiva0e6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353678555750-tpvv046e8dlp4j2o7f3rsnhuqiva0e6g</string>
	<key>API_KEY</key>
	<string>AIzaSyAFgkMX5O0CYNUxEGVUh4ehsubzv_pdT0w</string>
	<key>GCM_SENDER_ID</key>
	<string>353678555750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielpeach.bucket-list</string>
	<key>PROJECT_ID</key>
	<string>bucketlist-96454</string>
	<key>STORAGE_BUCKET</key>
	<string>bucketlist-96454.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353678555750:ios:50c4c1aa2574775286cba7</string>
	<key>DATABASE_URL</key>
	<string>https://bucketlist-96454.firebaseio.com</string>
</dict>
</plist>